<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button routerLink="/home" mat-icon-button>
      <mat-icon svgIcon="football" class="size-35"></mat-icon>
    </button>
    <span class="header">&nbsp;WM-Tippspiel</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button routerLink="/schedule" mat-button>Spielplan</button>
    <button routerLink="/bet" mat-button>Tippen</button>
    <button routerLink="/bettingTable" mat-button>Tipp-Tabelle</button>
    <button routerLink="/score" mat-button>Auswertung</button>
  </mat-toolbar-row>
</mat-toolbar>
